.map-wrapper {
    background-color: #dbd7d7;
}

.sub-title {
    font-size: 3rem;<p class="info-text lead text-body-secondary" style="translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">Aquí encontrarás algunas buenas recetas para tu carnita asada</p>
    color: #FFFFFF;
}

.tienda-img {
    padding-top: 4rem;
    width: 100%;
    max-width: 900px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.info-text {
    color: black;
    font-weight: 300;
    font-size: 3rem;
}


